<div class="row h-100">

	<div class="col-md-12 col-sm-12">

		<div class="movie_card d-flex justify-content-center" style="width: 1000px;height: 500px;" id="bright">
			<div class="info_section">
				<div class="movie_header">
					<img class="locandina"
						src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" />
					<h1>Bright</h1>
					<h4>2017, David Ayer</h4>
					<span class="minutes">117 min</span>
					<p class="type">Action, Crime, Fantasy</p>
				</div>
				<div class="p-5">
					<a href="#" style="text-decoration: none;"><img width="30px"class="mr-2" src="https://image.flaticon.com/icons/svg/226/226236.svg">Ver trailer</a>
				</div>
				<div class="movie_desc">
					<p class="text">
						Set in a world where fantasy creatures live side by side with humans. A human cop is forced to
						work with an Orc to find a weapon everyone is prepared to kill for.
					</p>
				</div>
				
			</div>
			<div class="blur_back bright_back"></div>
		</div>

	</div>

</div>




<!-- <div class="container-fluid">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
						</div>							
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">Info de </h3>
					
					
						<div class="action">
							<a [routerLink]="['../']" class="add-to-cart btn btn-default mr-2" type="button">Volver al Listado</a>
							<a class="like btn btn-default" type="button"><span class="fas fa-crown"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->