
<div class="container-fluid">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
						</div>							
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">Info de </h3>
					
					
						<div class="action">
							<a [routerLink]="['../']" class="add-to-cart btn btn-default mr-2" type="button">Volver al Listado</a>
							<a class="like btn btn-default" type="button"><span class="fas fa-crown"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>