
    <div class="w-100 d-flex justify-content-center mt-5">

      <div class="card" style="width:400px">

        <img *ngIf="!user.image" class="card-img-top" src="https://image.flaticon.com/icons/svg/265/265674.svg" alt="da">
        <img *ngIf="user.image"  class="card-img-top" src="http://proyectofinal.devel/{{user.image}}" alt="da">

        <div class="card-body">
          <label>Nombre de Usuario: <strong>{{user.nick}}</strong></label>
          <h3>Datos Personales</h3>
          <hr>
          <label>Nombre y Apellido: <strong>{{user.name}} {{user.surname}}</strong></label>
          <br>
          <label>Correo actual: <strong>{{user.email}}</strong></label>


          <div class="row">

            <div class="col-sm-6">
              <a *ngIf="identity.sub == user.id || identity.rol == 'Admin'" [routerLink]="['../../editar', user.id]" id="editar" class="btn btn-warning d-flex justify-content-center">Editar Perfil</a>

            </div>
            <div class="col-sm-6">
              <a [routerLink]="['../../']" id="volver" class="btn btn-primary d-flex justify-content-center">Volver</a>

            </div>

          </div>

        </div>
      </div>
    </div>
