<div class="row" style="height: 50%; margin-top: 20%;">

  <div class="col-auto">

    <div class="w-100 d-flex justify-content-center">

      <div class="card" style="width:400px">

        <img class="card-img-top" src="https://i.imgur.com/oW1dGDI.jpg" alt="da">
        <div class="card-body">
          <label>Nombre de Usuario: <strong>{{user.nick}}</strong></label>
          <h3>Datos Personales</h3>
          <hr>
          <label>Nombre y Apellido: <strong>{{user.name}} {{user.surname}}</strong></label>
          <br>
          <label>Correo actual: <strong>{{user.email}}</strong></label>


          <div class="row">

            <div class="col-sm-6">
              <a *ngIf="identity.sub == user.id" [routerLink]="['../../editar', user.id]" id="editar" class="btn btn-warning d-flex justify-content-center">Editar Perfil</a>

            </div>
            <div class="col-sm-6">
              <a [routerLink]="['../../']" id="volver" class="btn btn-primary d-flex justify-content-center">Volver</a>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

</div>