<div>

    <nav class="navbar navbar-light bg-light">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


        <a [routerLink]="!identity ? ['/login'] : ['/home']" class="navbar-brand mb-0 h1" style="font-weight: bold;"><img
                src="https://image.flaticon.com/icons/svg/863/863170.svg"
                style="width: 50px; height: 50px; margin-left: 8px; margin-right: 20px;">TodoPelis</a>
                
        <div>
            <a *ngIf="!identity" [routerLink]="['/login']" style="text-decoration: none; color: black; font-weight: bold;">Login </a>

            <a *ngIf="!identity" [routerLink]="['/registro']" style="text-decoration: none; color: black; font-weight: bold;"> Registro</a>
            <a *ngIf="identity" [routerLink]="['/logout', 1]" class="navbar-brand">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
        </div>


    </nav>


</div>


<div class="contenedor row justify-content-center">

    <div *ngIf="identity" class="content col-sm-3" style="border: 3px solid white;">
        <div class="container" style="height: 800px;">

            <div id="jquery-accordion-menu" class="jquery-accordion-menu" style="height: 680px;">

                <ul id="menu">
                    <li *ngIf="identity.image" class="active"><a [routerLink]="['listadoUser/detalle', identity.sub]"><img src="http://proyectofinal.devel/{{identity.image}}"
                                style="margin-right: 50px;border: 3px solid black; border-radius: 200px;">Bienvenido {{ identity.nick }}</a></li>
                    <li *ngIf="!identity.image" class="active"><a [routerLink]="['listadoUser/detalle', identity.sub]"><img
                                src="https://image.flaticon.com/icons/svg/265/265674.svg"
                                style="margin-right: 50px;">Bienvenido {{ identity.nick }}</a></li>
                    <li id="op"><a [routerLink]="['listadoUser']"><i class="fas fa-user-shield"></i> Usuarios</a></li>
                    <li id="op"><a [routerLink]="['home']"><i class="fas fa-film"></i> Novedades</a></li>
                    <li id="op"><a [routerLink]="['/listadoFav/', identity.sub]"><i class="fas fa-heart"></i> Películas Favoritas</a></li>
                </ul>


            </div>

        </div>

    </div>


    <div [ngClass]="identity ? 'col-md-9' : 'col'" style="height: auto;">

        <!-- Contenido -->

        <router-outlet></router-outlet>

    </div>



</div>

<footer class="font-weight-bold font-big">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://www.iessansebastian.com/"> IES San Sebastian</a>
        </div>
        <!-- Copyright -->
      
</footer>
<!-- Footer -->
