*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.contenedor{
    background-color: #282726;
}
body{
    background: #f0f0f0;
}


footer{

    color: black;
}

.content{

    background: -webkit-linear-gradient(left, #f05837,#282726);

}

 *{
    font-family:'Open Sans',sans-serif;

}
.jquery-accordion-menu ul{
    margin:0;
    padding:0;
    list-style:none;
}
.jquery-accordion-menu ul li{
    width:100%;
    display:block;
    float:left;
}
li{

    border-bottom: 1px solid white;
    font-weight: bold;

}


#menu #op a:hover{

    background-color: white;
    color: black;

}

#active{
    font-size: 15px;
}

img{
    width: 70px;
    height: 50px;
    border-radius: 999px solid black;
}

.jquery-accordion-menu ul li a{
    width:100%;
    padding:14px 22px;
    float:left;
    text-decoration:none;
    color:#f0f0f0;
    font-size:15px;
    
}
.jquery-accordion-menu>ul>li.active>a,.jquery-accordion-menu>ul>li:hover>a{
    color:#fff;
}
.jquery-accordion-menu>ul>li>a{
    border-bottom:solid 1px #3b424d;
}

