<div class="contenedor">

        <div class="content" style="width: 300px;height: 881px;">
                <div class="container" style="margin-left: -6%;height: 800px;">
            
                    <div id="jquery-accordion-menu" class="jquery-accordion-menu" style="height: 680px;width: auto">
                        <div class="row">
            
                            <div class="col-auto" style="height: 800px;">
            
                                <ul>
                                    <li class="active"><a href="#"><img src="https://image.flaticon.com/icons/svg/265/265674.svg" style="margin-right: 50px;">Usuario 1</a></li>
                                    <li><a href="#"><i class="fas fa-user-shield"></i> Usuarios</a></li>
                                    <li><a href="#"><i class="fas fa-film"></i> Películas</a></li>
                                    <li><a href="#"><i class="fas fa-heart"></i> Películas Favoritas</a></li>
                                    <li><a href="#"><i class="fas fa-comments"></i> Comentarios</a></li>
                                </ul>
            
                            </div>
            
            
                        </div>
            
                    </div>
            
                </div>
            
            </div>

</div>
