table{
    background-color: white;
    width: 1000px;
    margin-top: 50px;
}
thead{
    background-color: #f05837;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
tr{
    text-align: center;
}
#borrar{
    color: red;
}
#borrar:hover{
    color: crimson;
}
#editar{
    color: green;
}
#editar:hover{
    color: darkgreen;
}
i{

    margin-right: 10px;
}
#añadir{
    color: black;
}
#añadir:hover{
    color: white;
}
#permisos_admin, #permisos_user{

    color: black;

}

#permiso_admin:hover, #permiso_user:hover{

    color: darkslategray;

}