<div class="container-fluid ">
  <form enctype="multipart/form-data" #CrearComentarioForm="ngForm" (ngSubmit)="onSubmit(CrearComentarioForm);">

    <div class="alert alert-success text-center w-100 mt-3" *ngIf="status == 'success'">

      Se ha completado su registro correctamente

    </div>
    <div class="alert alert-danger text-center w-100 mt-3" *ngIf="status == 'error'">

      No se ha completado su registro correctamente!!

    </div>

    <div class="row mt-5 mb-3">

      <div class="col-4 col-sm-4 d-flex justify-content-center">
        <img style="border: 8px whitesmoke; border-style: double;" width=300 height="400"
          src="{{movie?.poster_path}}">
      </div>

      <div class="col-6 col-sm-6 form-group">

        <label for="comentario" style="color: white;">Comentario de la película:</label>
        <textarea name="contenido" #contenido="ngModel" [(ngModel)]="comment.contenido" class="form-control" rows="5"
          maxlength="200" id="comentario"></textarea>

        <div>
          <input class="btn btn-danger font-weight-bold mr-5 mt-5" type="submit" value="Realizar Comentario">

          <a class="btn btn-primary font-weight-bold mt-5" [routerLink]="['/home']">Volver</a>
        </div>

      </div>


    </div>
  </form>


    <div *ngFor="let comment of comments" class="row mb-3 d-flex justify-content-center">
      <div class="col-8">
        <div class="card card-white post">
          <div class="post-heading">
              <a *ngIf="identity.rol == 'Admin' || comment.User_id == identity.sub" class="float-right" (click)="deleteComment(comment.id)"><img width="20px" src="https://image.flaticon.com/icons/svg/179/179429.svg"></a>
            <div class="float-left image">
              <img src="http://proyectofinal.devel/{{comment['user'].image}}" style="border-radius: 20px;" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="float-left meta">
              <div class="title h5">

                <a [routerLink]="['/listadoUser/detalle/', comment.User_id]"><b>{{comment['user'].nick}}</b></a>
              </div>
              <h6 class="text-muted time">Fecha de subida: {{comment.created_at}}</h6>
            </div>
          </div>
          <div class="post-description">
            <p>{{comment.contenido}}</p>

          </div>
        </div>
      </div>

    </div>

</div>